/* connection fonts */
@font-face {
    font-family: PermanentMarker-Regular;
    src:url(font/Anton-Regular.ttf);
}

/* block expansion */
* {
    box-sizing: border-box;
}

/* styles for body */
body {
    margin: 70px;
    padding: 0px;
    font-family: GloriaHallelujah-Regular;
    background-image: url(images/8q1HFeu.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* all-the-page */
.all-the-page {
    display: flex;
    justify-content: center;
    position: relative;
}

/* game-name */

.game-name {
position: absolute;
margin-top: 10px;
font-size: 50px;
font-weight: 700;
letter-spacing: 1.5px;
color: rgb(240, 163, 108);
}

/* Major game-page */

.game-page {
    display: inline-block;
    min-width: 900px;
    min-height: 700px;
    margin: 50px;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, rgb(14, 1, 0),rgba(0, 0, 0, 0.19));

}

/* Start button */ 

.start-button {
    position: absolute;
    left: 320px;
    top: 300px;
    padding: 25px;
    cursor: pointer;
    font-size: 30px;  
    background: none;
    border: none;
    position: relative;
    color: rgb(240, 163, 108);
}

.start-button:before {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-top: solid 2px;    
    border-bottom: solid 2px;
    transition: 0.2s;
    transform: scaleX(0);
}

.start-button:hover:before {
    transform: scale(1);
}

.start-button::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border-right: solid 2px;    
    border-left: solid 2px;
    transition: 0.2s;
    transform: scaleY(0);
}

.start-button:hover:after {
    transform: scale(1);
}

/* TIME GAME, RESULT */

.time-page, .result-page {
    display: inline-block;
    min-width: 350px;
    height: 500px;
    margin: 50px;
    padding: 20px;
    background: linear-gradient(to top, rgb(14, 1, 0),rgba(0, 0, 0, 0.19));

    font-size: 30px;
    position: relative;
    overflow: hidden;
}

.time-counter-name {
    position: absolute;
    right: 50px;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    font-weight: 500;
    color: rgb(240, 163, 108);
}

.result-name {
    position: absolute;
    right: 90px;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    font-weight: 500;
    color: rgb(240, 163, 108);
}

.set-time-name {
    width: 120px;
    height: 30px;
    position: absolute;
    bottom: 35px;
    letter-spacing: 1.5px;
    color: rgb(240, 163, 108);
}

.set-time-input {
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: -8px;
    left: 150px;
    font-size: 20px;
    background: linear-gradient(to top, rgb(14, 1, 0),rgba(0, 0, 0, 0.19));
    color: rgb(240, 163, 108);
}

.result-counter-result {
    position: absolute;
    font-size: 70px;
    bottom: 190px;
    left: 145px;
    color: rgb(240, 163, 108);
}

.time-score {
    position: absolute;
    font-size: 70px;
    bottom: 190px;
    left: 110px;
    color: rgb(240, 163, 108);
}

/* hide, for add in class */
.hide {
    visibility: hidden;
}


/* ......................................

MEDIA 

........................................*/

@media (max-width: 1600px) { 

   .all-the-page {
    display: inline-block;
}

    .game-name {
        top: -50px;
        left: 400px;
    
    }

    /* COUNTER */

    .time-page {
        display: block
    }
    
    .time-score {
        left: 150px;
        top: -250px;
        font-size: 100px;
    }

    .time-counter-name {
        right: 275px;
        font-size: 50px;
    }

    .set-time-name {
        right: 225px;
       font-size: 35px;
       top: 390px;
       width: 400px;
    }

    .set-time-input{
        width: 300px;
        height: 60px;
        top: -5px;
        font-size: 60px;
    }



    /* RESULT */
    .result-page {
        display: block;
    }

    .result-name {
        right: 325px;
        font-size: 50px;
    }

    .result-counter-result {
        top: 170px;
        left: 440px;
        font-size: 140px;
        
    }

    

} 