* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Patric";
    src: url("./font/Patric.ttf");
}

body {
    margin: 0px;
    padding: 0px;
}

.page {
    position: relative;
    width: 1920px;
    height: 1080px;
    z-index: 0;
}


.welcome-page {
    position: absolute;
    width: 1070px;
    height: 733px;
    left: 463px;
    top: 119px;

    background-color: #F4F4F4;
    border: 2px solid #4D5C5E;
    z-index: 1;
}

.cube {
    position: absolute;
    width: 125px;
    height: 112px;
    left: 480px;
    top: 182px;
    z-index: 2;
}

.cube-name {
    position: absolute;
    width: 376px;
    height: 72px;
    left: 612px;
    top: 211px;

    font-family: "Patric";
    font-size: 64px;
    line-height: 87px;

    color: #4D5C5E;
    z-index: 2;
}

.cube-description {
    position: absolute;
    width: 1041px;
    height: 134px;
    left: 480px;
    top: 313px;

    font-family: "Patric";
    font-size: 52px;

    color: #4D5C5E;
    z-index: 2;
}

.start-cube-name {
    position: absolute;
    width: 369px;
    height: 54px;
    left: 840px;
    top: 565px;

    font-family: "Patric";
    font-size: 52px;

    color: #4D5C5E;
    z-index: 2;
}

.cube-for-start{
    position: absolute;
    width: 91px;
    height: 82px;
    left: 969px;
    top: 648px;

    cursor: pointer;
    background: #4D5C5E;
    border: 2px solid #000000;
    z-index: 2;
}